
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>首頁</title>
		<link rel="stylesheet" href="/static/index.css">
</head>
<body>
	<div class = "title">歡迎光臨，請輸入帳號密碼</div>
	<div class = "title2">登入系統</div>
	<div>
		<form  method="POST" id="myForm" class = "form" action = "/signin">
			<div>
				<span>帳號</span>
				<input type="text" name="member"/>
			</div>

			<div>
			<span>密碼</span>
				<input type="password" name="password"/>
			</div>

			<div>
				<span>同意條款</span>
				<input type="checkbox"  id="agreeCheckbox" name="checkbox"/>
			</div>

			<button>登入</button>
		</form>
	</div>
	<hr/>
	<div class = "title2">計算正整數平方</div>
	<div>
    <form id="squareForm" onsubmit="return redirectToSquare()">
        <span>正整數</span>
        <input type="text" id="checknum" name="num">
        <button type="submit">計算</button>
    </form>
	</div>
	<script>
		document.getElementById("myForm").addEventListener("submit", function(event) {
				let checkbox = document.getElementById("agreeCheckbox");
				if (!checkbox.checked) {
						alert("請勾選同意條款");
						event.preventDefault();
				};
			});

			function redirectToSquare() {
        let num = document.getElementById("checknum").value;
        let parsedNum = parseInt(num, 10);

        if (isNaN(parsedNum) || parsedNum <= 0) {
            alert("請輸入有效的正整數");
            return false;  // 阻止表單提交
        }
				window.location.href = `/square/${parsedNum}`;
        return false;  // 阻止表單的默認提交
    }

			
	</script>
</body>
</html>